[submodule "third_party/sam-3d-body"]
	path = third_party/sam-3d-body
	url = https://github.com/facebookresearch/sam-3d-body.git
[submodule "third_party/sam-3d-objects"]
	path = third_party/sam-3d-objects
	url = https://github.com/facebookresearch/sam-3d-objects.git
[submodule "third_party/sam2"]
	path = third_party/sam2
	url = https://github.com/facebookresearch/sam2.git
